* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  position: relative;
}
.container {
  width: 90%;
  margin: 100px auto;
}

.img-bg {
  background-image: url(/public/images/illustration-dashboard.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 400px;
}