@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
  height: 100vh;
  font-family: 'Libre Franklin', sans-serif;
  position: relative;
}
.container {
  width: 90%;
  margin: 100px auto;
}

/* Text component */
.text {
  width: 90%;
  margin: 0 auto 4em auto;
}
.text img {
  padding-bottom: 40px;
}
.text div h1 {
  font-weight: 300;
  color: hsl(0, 0%, 59%);
  letter-spacing: 1px;
  padding-bottom: 15px;
}

.text div span {
  font-weight: 700;
  color: hsl(209, 33%, 12%);
  letter-spacing: 0px;
}
.text div p {
  color: hsl(209, 33%, 12%);
  font-size: 12px;
  padding-bottom: 30px;
  font-weight: 600;
}

.text form input {
  width: 90%;
  border: 1px solid hsl(223, 100%, 88%);
  border-radius: 20px;
  padding: 1em;
  margin-bottom: 1em;
}

.text form input::placeholder {
  color: hsl(223, 100%, 88%);
  padding: 0 1em;
}

.text form button {
  width: 100%;
  border: none;
  border-radius: 20px;
  padding: 1em;
  background-color: hsl(223, 87%, 63%);
  color: #fff;
}

/* Image component */
.img-bg {
  background-image: url(/public/images/illustration-dashboard.png);
  background-size: contain;
  background-repeat: no-repeat;
  height: 230px;
  margin-bottom: 100px;
}

/* Social component */
.socials {
  color: hsl(223, 87%, 63%);
}

.fa, .tr, .ig {
  border: 1px solid hsl(223, 100%, 88%);
  padding: 10px 10px;
  border-radius: 20px;
  margin: 0 .5em 2em .5em;
}

.socials div p {
  color: hsl(0, 0%, 59%);
  font-size: 10px;
  font-weight: 300;
}